* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.cabecalho {
    color: purple;
    padding: 15PX 25PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}